.box-body > h1 {
    padding: 1rem;
}

.box-body {
    /* nav 높이 */
    padding-bottom: 10px;
}   

.page-header {
    position: relative;
    /* padding-top: 0.3rem; */
    /* margin-bottom: 3.5rem; */
    padding: 1.3rem 1rem 1rem 1rem;
    margin: 0 !important;
    background-color: rgba(239, 239, 239, 0.7);
}

.divider {
    border: none;
    border-top: 1px solid rgba(127, 127, 127, 0.52);
}

#category {
    font-size: 1.1rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}

a:visited,
a:focus,
a:hover,
a:active {
  color: #000;
}

#point-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(239, 239, 239, 0.7);;
    height: 4.5rem;
}

#available-point {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#available-point > :nth-child(1) {
    font-weight: 600;
    font-size: 1.23rem;
    margin-bottom: 0.2rem;
}

#exchange-point-anchor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.7rem;
}

#service-container > :nth-child(1) {
    margin: 1.25rem 0 0.8rem 1rem;
}

#service-menu > a {
    display: flex;
    flex-direction: column;
    padding: 1.3rem 1.3rem 1.3rem 0;
}

#service-menu > a {
    font-size: 1.3rem;
}

h3 {
    font-weight: 600;
}