.page-header {
  margin-bottom: 2.5rem;
}

 .page-header > a:nth-child(1) > img {
  margin-top: 0.33rem;
  width: 1.5rem;
  height: 1.5rem;
}

.page-main {
  padding: 2rem;
}

a {
  text-decoration: none;
}

a:visited,
a:focus,
a:hover,
a:active {
  color: #000;
}

#change-pw-title {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0,0,0, 1);
}

#change-pw-form > div {
  margin: 1rem 0;
  position: relative;
}

#change-pw-form label {
  font-size: 1rem;
  font-weight: 600;
}

#change-pw-form input {
  width: 100%;
  height: 2.5rem;
  padding: 0 6px;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 5px;
}

#change-pw-form input[type="submit"] {
  margin-top: 1.75rem;
  font-size: 1.15rem;
  font-weight: 600;
  cursor: pointer;
}