* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #f5f5f5;
}

/* 채팅방 전체 페이지 */
.chat-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    max-width: 37rem;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: relative;
}

/* 채팅방 헤더 */
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.hidden {
    display: none;
}

.back-button img {
    width: 1.5rem;
    height: 1.5rem;
}
.back-button {
    border: none;
    background: none;
    cursor: pointer;
}

.chat-title {
    font-size: 18px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 1rem;
    height: 1rem;
}

.user-count {
    margin-left: 0.3rem;
    font-size: 1rem;
}

/* 채팅 메시지 영역 */
.chat-area {
    flex: 1;
    flex-direction: column;
    padding: 0.5rem;
    background-color: #f9f9f9;
    overflow-y: auto;
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.message {
    background-color: #f7b500;
    color: white;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    max-width: 60%;
    display: inline-block;
}

.message-received {
    background-color: #f7b500;
    align-self: flex-start;
    margin: 0.4rem 0 0.4rem 0.8rem;
    padding: 0.8rem;
    border-radius: 1rem;
    max-width: 60%;
    word-wrap: break-word;
    word-break: break-word;
}

.message-sended {
    background-color: lightgray;
    align-self: flex-end;
    margin: 0.4rem 0.8rem 0.4rem 0.8rem;
    padding: 0.8rem;
    border-radius: 1rem;
    max-width: 60%;
    word-wrap: break-word;
    word-break: break-word;
}

.nickname {
    margin-left: 1rem;
    margin-top: 0.3rem;
    font-size: 0.8rem;
}

/* 채팅 입력 영역 */
.chat-input-area {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 37rem;
    z-index: 100;
    overflow: hidden;
    margin: 0 auto;
}

.chat-input {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    margin: 0 1rem;
    word-wrap: break-word;
    word-break: break-word;
    /* max-height: 10rem; */
    height: 3rem;
    overflow-y: auto;
    resize: none;
}

.chat-input:focus {
    outline: none;
}

.menu-list {
    display: none;
    background-color: #f0f0f0;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* 하단 메뉴 바 ( 누르면 ) */
.menu-button, .send-button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-icon, .send-icon {
    width: 24px;
    height: 24px;
}

/* 하단 메뉴 */
.bottom-menu {
    display: flex;
    background-color: #e0e0e0;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    border-radius: 20px 20px 0 0;
    transition: transform 0.3s ease-out;
    transform: translateY(100%);
    max-width: 37rem;
    width: 100%;
    margin:0 auto;
    box-sizing: border-box;
}

.bottom-menu-item {
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.bottom-menu-item:hover {
        background-color: #f7b500;
}

/* 메뉴 아이콘에서 X로 바뀌는 아이콘 */
.menu-button img.x-icon {
    content: url('https://cdn-icons-png.flaticon.com/512/4013/4013407.png');
}

/* 메뉴가 열리면 하단 메뉴 보이게끔 */
.bottom-menu.open {
    transform: translateY(0);
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.chat-input-area.menu-open {
    transform: translateY(-60px);
    transition: transform 0.3s ease-out;
}

.leave-room-btn {
    border: none;
    background-color: transparent;
    margin-left: 1rem;
    color: #f7b500;
    font-weight: bold;
    font-size: 1rem;
}

.system-message {
    align-self: center;
    display: flex;
    justify-content: center;
    color: gray;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
    background-color: transparent;
}