#forgot-id-container {
  padding-left: 20%;
  padding-bottom: 1rem;
  width: 50%;
  font-size: 1.1rem;
  font-weight: 700;
  border-bottom: 2px solid rgba(0,0,0, 1);
}

#forgot-pw-container {
  padding-left: 20%;
  width: 50%;
  font-size: 1.1rem;
  font-weight: normal;
  border-bottom: 2px solid rgba(0 , 0, 0, 0.3);
}

#forgot-id-anchor {
  color: rgba(0, 0, 0, 1); 
}

#forgot-pw-anchor {
  color: rgba(0, 0, 0, 0.3); 
}


#forgot-id-form > div {
  margin: 1rem 0;
  position: relative;
}

/* #forgot-id-form input {
  width: 100%;
  height: 2.5rem;
  padding: 0 6px;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 5px;
} */

input[name="forgot-id-user-name"],
input[name="forgot-id-authn"],
input[value="아이디 찾기"] {
  width: 100%;
  height: 2.5rem;
  padding: 0 6px;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 5px;
}

input[name="forgot-id-user-email-pre"] {
  width: 49.5%;
  height: 2.5rem;
  padding: 0 6px;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 5px;
}

input[name="forgot-id-user-email-post"] {
  position: absolute;
  right: 0;
  width: 49.5%;
  height: 2.5rem;
  padding: 0 6px;
  background-color: #ececec;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 5px;
  cursor: default;
}

#forgot-id-form input[type="submit"] {
  margin-top: 1.75rem;
  font-size: 1.15rem;
  font-weight: 600;
  cursor: pointer;
}

#send-authn {
  position: absolute;
  right: 0;
  height: 2.5rem;
  width: 13%;
  background-color: #fff;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 5px;
}

@media screen and (max-width: 430px) {
  #forgot-pw-container {
    padding-left: 13%;
  }

  .page-header {
    margin-bottom: 35px;
  }
}