.logo { 
    width: 6rem;
    height: auto;
}
  
.map-img { 
    width: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
    right: 1rem;
}

#my-info-title {
    font-size: 1.1rem;
    font-weight: 600;
}
  
.box-body > div:nth-child(2) {
    margin: 1rem;
    display: flex;
    position: relative;
}
  
a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
  
a:visited,
a:focus,
a:hover,
a:active {
    color: #000;
}
  
.box-body {
    /* nav 높이 */
    padding-bottom: 10px;
}

/* 배너 컨테이너 스타일 */
.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

/* 움직이는 배너 스타일 */
.moving-banner {
    display: flex;
    overflow: hidden;
    width: 90%;
    max-width: 600px;
    height: 18rem;
    border: 2px solid #ddd;
    background-color: #f9f9f9;
    margin-bottom: 1rem;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* 각각의 배너 항목 스타일 */
.banner-item {
    display: none; /* 기본적으로 모든 배너를 숨김 */
    min-width: 100%;
    text-align: center;
    line-height: 150px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

/* 현재 활성화된 배너 항목을 표시하는 클래스 */
.banner-item.active {
    display: block; /* 활성화된 배너만 표시 */
}

/* 고정된 배너 스타일 */
.fixed-banner {
    width: 90%;
    max-width: 600px;
    height: 18rem;
    border: 2px solid #ddd;
    background-color: #fafafa;
    padding: 1rem;
    text-align: center;
}

/* 고정된 배너 항목 스타일 */
.fixed-banner-item {
    font-size: 1.1rem;
    color: #444;
}