a {
    text-decoration: none;
    color: #000;
}

#subject {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
    /* margin-top: 1rem; */
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

a:visited,
a:hover,
a:focus,
a:active {
    color: #000;
}

#date {
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

#due {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: normal;
    word-wrap: break-word;
}

.board {
    padding: 1rem 2rem 2rem 1.5rem;
    width: 100%;
}

.board > hr {
    margin-bottom: 1rem;
}

#route {
    margin-bottom: 0.3rem;
}