a {
    text-decoration: none;
    color: #000;
}

#subject {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    /* margin-top: 1rem; */
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

a:visited,
a:hover,
a:focus,
a:active {
    color: #000;
}

#date {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

#due {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

.board {
    padding: 1rem 2rem 2rem 1.5rem;
}

.board > hr {
    margin-bottom: 1rem;
}

.img-container {
    width: 4.5rem;
    height: auto;
    border-radius: 50%;
    background-color: #F5AF12;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    z-index: 1000;
}

.img-container img {
    padding: 1.2rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert();
}