.page-header {
  justify-content: end;
}

#logo-container {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  margin-top: 8rem;
  margin-bottom: 4.2rem;
}

.logo {
  width: 100px;
  height: auto;
}

#login-id-container {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
}

#login-pw-container {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

#login-form input {
  margin: 0 auto;
  width: 80%;
  height: 2.5rem;
  padding: 0 6px;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 5px;
}

#forgot-anchor-container {
  display: flex;
  justify-content: end;
}

#forgot-anchor-container a {
  position: relative;
  right: 10%;
  text-decoration: none;
  font-size: 0.9rem;
  color: #000;
}

a:visited,
a:focus,
a:hover,
a:active {
  color: #000;
}

#login-btn-container {
  display: flex;
  align-items: center;
  position: relative;
  top: 6.5rem;
}

#login-btn-container > input {
  font-size: 2.2rem;
  font-weight: 600;
  cursor: pointer;
  width: auto;
  border: none;
  background-color: var(--main-color);
}

#sign-up-anchor-container {
  display: flex;
  justify-content: center;
}

#sign-up-anchor-container a {
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  top: 7.5rem;
  color: rgba(0, 0, 0, 0.5);
}
