.page-header {
  position: relative;
  /* padding-top: 0.3rem; */
  /* margin-bottom: 3.5rem; */
  padding: 1.3rem 1rem 1rem 1rem;
  margin: 0 !important;
}

.hidden {
  display: none;
}

img[class='expand-icon'] {
  width: 1rem;
}

img[class='next-icon'] {
  position: relative;
  width: 0.7rem;
  transform: scaleX(-1);
}

#expanded-point-anchor {
  opacity: 0;  /* 기본적으로 투명 상태 */
  max-height: 0;  /* 기본적으로 높이를 0으로 설정하여 보이지 않도록 함 */
  overflow: hidden;  /* 콘텐츠가 보이지 않도록 숨김 */
  transition: opacity 0.3s ease-out, max-height 0.5s ease-out;  /* opacity와 max-height에 대한 애니메이션 효과 */
}


#expanded-point-anchor div {
  display: flex;
  justify-content: space-between;
  background-color: rgba(239, 239, 239, 0.7);
}

#point-anchor-one {
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
}

#ponint-anchor-two {
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
  /* border-bottom: 1px solid rgba(127, 127, 127, 0.52); */
}

#expanded-point-anchor span {
  position: relative;
  left: 1rem;
}

#expanded-point-anchor a {
  position: relative;
  right: 1rem;
}

#my-info-title {
  font-size: 1.1rem;
  font-weight: 600;
}

#logout-btn {
  position: absolute;
  right: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.box-body > div:nth-child(2) {
  margin: 1rem;
  display: flex;
  position: relative;
}

/* #profile-picture {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(162, 162, 162);
  border-radius: 50%;
} */

#my-icon {
  background-color: rgb(239, 239, 239);
  border: 1.4px solid black;
  border-radius: 50%;
  width: 2.4rem;
}

#user-nickname {
  font-size: 1.23rem;
  padding-bottom: 0.2rem;
}

#user-email {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(88, 88, 88);
}

#nickname-abode {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 1.75rem;
  bottom: 0.15rem;
  justify-content: space-around;
  font-weight: 600;
}

#nickname-abode > div:nth-child(2) {
  font-size: 0.8rem;
}

#my-info-change-anchor-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: absolute;
  right: 1rem;
}

.id-email-container {
  margin: 0 !important;
  padding: 2.5rem 1rem 2rem 1rem;
}

.page-header, .id-email-container {
  background-color: rgba(239, 239, 239, 0.7);
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

a:visited,
a:focus,
a:hover,
a:active {
  color: #000;
}

.divider {
  border: none;
  border-top: 1px solid rgba(127, 127, 127, 0.52);
}

.divider-two {
  border: none;
  border-top: 1px solid rgba(127, 127, 127, 0.2);
  margin-left: 0.9rem;
  margin-right: 0.9rem;
}

#point-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* background-color: lightgray; */
}

#available-point {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#available-point > :nth-child(1) {
  font-weight: 650;
  margin-bottom: 0.2rem;
}

#exchange-point-anchor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#my-post-info-container {
  display: flex;
  justify-content: space-between;
  font-weight: 600 ;
}

#my-post-btn {
  background-color: #ccc; /* 회색 배경색 */
  width: 5rem;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0;
}

#my-post-anchor {
  cursor: pointer;
}