.logo { /* 로고 크기 조절 */
    width: 6rem;
    height: auto;
}

#my-info-title {
    font-size: 1.1rem;
    font-weight: 600;
}
  
.box-body > div:nth-child(2) {
    margin: 1rem;
    display: flex;
    position: relative;
}
  
a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
  
a:visited,
a:focus,
a:hover,
a:active {
    color: #000;
}
  
.box-body {
    /* nav 높이 */
    padding-bottom: 10px;
}
  
#bottom-nav-bar {
    max-width: 37rem; /* .box-body와 동일 width */
    width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 0.3rem 3.3rem;
    font-size: 0.725rem;
    font-weight: 600;
    justify-content: space-between;
}
  
#bottom-nav-bar img {
    height: 1.5rem;
}

#chatting-icon-container div {
    position: relative;
    left: 0.135rem;
  }

  #category-icon-container div {
    position: relative;
    right: 0.45rem;
}
  
#home-icon-container div {
    position: relative;
    left: 0.422rem;
}
  
#notification-icon-container div {
    position: relative;
    left: 0.125rem;
}
  
#my-page-icon-container div {
    position: relative;
    left: 0.15rem;
}