.page-header {
  justify-content: space-between;
}

#sign-up-title {
  font-size: 1.4rem;
  font-weight: 700;
}

#sign-up-form > div {
  margin: 1rem 0;
  position: relative;
}

#sign-up-form label {
  font-size: 1rem;
  font-weight: 600;
}

#sign-up-form input {
  width: 100%;
  height: 2.5rem;
  padding: 0 6px;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 5px;
}

#sign-up-form select {
  position: absolute;
  left: 43.5%;
  width: 42.5%;
  height: 2.5rem;
  padding: 0 6px;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 5px;
  cursor: pointer;
}

#send-authn {
  position: absolute;
  right: 0;
  height: 2.5rem;
  width: 13%;
  background-color: #fff;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 5px;
}

#address-container input {
  margin-bottom: 0.4rem;
}

#user-detail-address, #user-extra-address {
  width: 49.6% !important;
}
#user-extra-address {
  position: absolute;
  right: 0;
}

#sign-up-form input[type="submit"] {
  margin-top: 1.75rem;
  font-size: 1.15rem;
  font-weight: 600;
  cursor: pointer;
}
