a > img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

hr {
    margin: 1rem;
}

#viewFrm {
    padding: 0 2rem;
}

div > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}

#category {
    font-size: 1.3rem;
}

#subject {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

#date {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: grey;
}

#content {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}


#modify,
#delete {
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: transparent;
    color: grey;
}

.button-container {
    position: absolute;
    top: 9.5rem;
    right: 2rem;
    color: grey;
}